.navbar_links_desktop{
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    /* border:1px solid; */
    width:500px;
    /* border:1px solid; */
}
.navbar_links_desktop_list{
    display:flex;
    width: 600px;
    justify-content: space-evenly;
    align-items:center;
    /* margin-left:0px; */
}


.navbar_links_desktop_list li{
    color: white;
    list-style-type: none;
    text-transform: uppercase;
    /* margin-left: 5px; */
    font-size:1em;
    margin-right: 20px;
}
.navbar_links_desktop_list li:hover{
    border-bottom:2px solid var(--mc);
    text-shadow:0px 0px 10px #fff;
}
.hamburger_new{
    display:none;
}
.close_menu_new{
    display: none;
}

@media screen and (max-width:1000px) {
    .navbar_links_desktop{
        display:none;
    }
    .neoh_fn_header .connect_wallet{
        display: none;
    }
    .hamburger_new{
        display:block;    
    }
    .close_menu_new{
        display: block;
    }
}
